<!DOCTYPE html>
<html lang="en">

{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Lato&family=Yellowtail&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../static/home/style.css">
    <title>His Experiences</title>
</head>
<body>
    <div class="parent">
        <img class="image1 img-fluid" style="width:500px;" src="../../static/images/fullmap.png">
        <a href="./index.html" class="back" title="Twitter link">
        <img class="image2 img-fluid" style="width:50px;" src="../../static/images/back1.png">
        </a>
    </div>
    <div id="side2">
        <h1 id="title">His Experiences</h1>
        <p>&nbsp;</p>
            <div class="row">
            <div class="column">
                <h2 style="font-weight: 1000;">Media Komunikasi</h2>
                <h3 style="font-weight: 300;">Head of Extracuriccular</h3>
            </div>
            <div class="column" style="margin-top:25px">
                <h3>2017 - 2018</h3>
            </div>
        </div>
        <p>&nbsp;</p>
        <div class="row">
            <div class="column">
                <h2 style="font-weight: 1000;">Rohani Islam</h2>
                <h3 style="font-weight: 300;">Member</h3>
            </div>
            <div class="column" style="margin-top:25px">
                <h3>2016 - 2018</h3>
            </div>
        </div>
        <p>&nbsp;</p>
        <div class="row">
            <div class="column">
                <h2 style="font-weight: 1000;">AIESEC in Universitas Indonesia</h2>
                <h3 style="font-weight: 300;"> Team Member of<BR>Product Marketing oGX</h3>
            </div>
            <div class="column" style="margin-top:25px">
                <P>&nbsp;</P>
                <h3>2019 - Now</h3>
            </div>
        </div>
        <p>&nbsp;</p>
        <div class="row">
            <div class="column">
                <h2 style="font-weight: 1000;">DPM Fasilkom UI</h2>
                <h3 style="font-weight: 300;">Member</h3>
            </div>
            <div class="column" style="margin-top:25px">
                <h3>2019 - Now</h3>
            </div>
        </div>
    </div>
</body>
</html>