<!DOCTYPE html>
<html lang="en">

{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width" initial-scale=1.0, maximum-scale=1.0, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Lato&family=Yellowtail&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../static/home/style.css">
    <title>Fauzan's Biography</title>
</head>
<body>
    <h1 id="intro">A Biography<br>of That One Guy</h1>
    <p>&nbsp;</p>
    <h2>Hello Everyone! This is Fauzan's Biography</h2>
    <p>&nbsp;</p>
    <p id=title>In this website, you will see most of my information, whether it's my identification, educational history, or my personal contact information.</p>
    <p>&nbsp;</p>
    <div style="display:block;" class="hover08">
        <a href="./theman.html">
        <figure><img src="../../static/images/myface.png" alt="My Face" class="left img-fluid"></figure>
        </a>
        <h1 id="theman">The Man<br>Himself</h1>
    </div>
    <p>&nbsp;</p>
    <div style="display:block;" class="hover08">
        <a href="./specialties.html">
        <figure><img src="../../static/images/specialties.png" alt="My Face" class="right img-fluid"></figure>
        </a>
        <h1 id="text-left">His<br>Specialties</h1>
    </div>
    <p>&nbsp;</p>
    <div style="display:block;" class="hover08">
        <a href="./education.html">
        <figure><img src="../../static/images/education.png" alt="My Face" class="left img-fluid"></figure>
        </a>
        <h1 id="education">His<br>Educational<br>Background</h1>
    </div>
    <p>&nbsp;</p>
    <div style="display:block;" class="hover08">
        <a href="./experienceS.html">
        <figure><img src="../../static/images/experience.png" alt="My Face" class="right img-fluid"></figure>
        </a>
        <h1 id="text-left">His<br>Experiences</h1>
    </div>
    <p>&nbsp;</p>
    <div style="background-color: #fbe2e5; padding-top: 50px; padding-bottom: 50px;">
        <h2 id="footer">Like what you see?<br>Consider contact this guy at</h2>
        <div class="baris" style="width:30%; margin-left: auto; margin-right: auto;">
            <div class="kolom">
                <a href="https://www.instagram.com/muhrizfau/">
                    <img src="../../static/images/instagram.png" alt="Instagram" style="width:100%;">
                </a>
            </div>
            <div class="kolom">
                <a href="https://twitter.com/muhrizfau">
                    <img src="../../static/images/twitter.png" alt="Twitter" style="width:100%;">
                </a>
            </div>
            <div class="kolom">
                <a href="https://gitlab.com/rfauzan46">
                    <img src="../../static/images/gitlab.png" alt="Gitlab" style="width:100%;">
                </a>
            </div>
        </div>
    </div>
</body>
</html>